.html,body {
  background-color: #245e28;
  padding:0;
  margin:0;
}
.hand-wrapper {
  position: relative;
  height: 275px;
}
.hand {
  width: 210px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}
.card {
  position: absolute;
  background-color: white;
  width: 128px;
  height: 180px;
  border: 1px solid #444944;
  border-radius: 10px;
  box-shadow: 2px 4px 12px 1px rgba(0,0,0,0.75);
}
.card-back {
  z-index: 100;
  width: 128px;
  height: 180px;
  position: absolute;
  top:0;
  left:0;
  background-image: url("https://i.imgur.com/YpkX1bG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-back.face-down {
  display: block;
}
.suit {
  background-image: url("https://i.imgur.com/3ENURpd.png");
  background-size: 200%;
}
.clubs, .spades {
  color: black;
}
.hearts, .diamonds {
  color: red;
}
.card .face {
  position: absolute;
}
.card .suit {
  margin:0 auto;
  width:25px;
  height: 25px;
}
.suit.clubs {
  background-position: -2px -5px;
}
.suit.diamonds {
  background-position: -25px -5px;
}
.suit.hearts {
  background-position: -1px -33px;
}
.suit.spades {
  width:23px;
  background-position: -23px 30px;
}
.top-left {
  top: -5px;
}
.bottom-right {
  right:0px;
  bottom: 0px;
  transform: rotate(180deg);
}
.card .value {
  padding: 5px;
  font-size: 40px;
  font-weight: bold;
}
.button-container {
  background-color: #245e28;
  width:100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons button {
  font-size:20px;
  margin:10px;
}
.points {
  position: absolute;
  color: white;
  text-align: center;
  padding: 5px;
  font-size:40px;
}
.points .over {
  color: orangered;
  text-decoration: line-through;
}
.dealer .points {
  top: 10px;
  left: calc(50% - 210px);
}
.player .points {
  top: 60px;
  left: calc(50% + 140px);
}

.win .points {
  color: greenyellow;
}

.banner {
  color: white;
  background-color: #143816; 
  padding:10px;
  position: absolute;
  top: 200px;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-size:50px;
  font-weight: bold;
}
.react-dots-loader {
  line-height: 0px;
}